.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tekst_boks{
    width: 90%;
    height: 40%;
    background-color: #D9D9D9;
    padding: 30px;



}
.baggrunds_boks_til_tekst_krus{
    width: 90%;
    height: 40%;
    background-color: #D9D9D9;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
