.winky-sans-voresskrifttype {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    .skrifttype{
        font-family: "Winky Sans", sans-serif;
    }