
.winky-sans-voresskrifttype {
                 font-family: "Winky Sans", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: 400;
                 font-style: normal;
             }

.overskrift{
    font-family: "Winky Sans", sans-serif;

}
.tekst{
    background-color: #D9D9D9;
    font-family: "Winky Sans", sans-serif;
    text-align: left;
}